body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #024451;
  color: #c8c8c8;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
}
.name {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.1em;
}
.buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0.1em;
  margin-right: 10px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
padding: 0.5em;
  color: #c8c8c8;
  background-color: #000000;
  text-align: left;
}
td {
  color: #c8c8c8;
  padding: 0.5em;
  text-align: left;
}
td > button {
  background-color: #024451;
  color: #c8c8c8;
  border: none;
  padding: 0.5em;
  margin: 0.1em;
  font-weight: 600;
}
td > button:hover {
  background-color: #0e252a;
  scale: 1.05;
}
tr:nth-child(odd) {
  background-color: #476b72;
}
