nav {
  position: fixed;
  height: 100%;
  width: 25%;
  color: var(--text-color);
  background: radial-gradient(at 100% 60%, rgba(83, 6, 223, 0.45) 40%, rgba(0, 0, 0, 1) 100%);
  border-right: #EDEDED solid 1px;
  transition: all 0.5s;
  background-color: #000000;
  z-index: 1;
  padding-top: 50px;
}


.nav-image {
  display: none;
}
.name-title {
  margin-left: 50px;
  font-size: 30px;
  font-weight: 600;
}
.name-title > span {
  color: var(--text-color-nav);
}
ul.nav {
  margin: 0;
  padding: 0;
}
.nav > li >a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 10px 0;
  font-size: 25px;
  font-weight: 400;
  padding: 10px;
}


.nav > li >a:not(.active):hover, .nav > li >a:not(.active):focus, .list-item > a:not(.active):active {
  font-weight: 600;
  font-size: 35px;
}
.nav > li > a.active {
  font-size: 45px;
}